.wrapper {
  padding: 24px;
}

.title {
  margin-bottom: 24px;
}

.input {
  margin-bottom: 24px;
}

.lastWordWrapper {
  margin-bottom: 24px;
}

.wordsWrapper {
  display: grid;
  grid-gap: 12px;
}

.indicator {
  height: 48px;
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .wrapper {
    margin: 100px auto 0;
    width: 450px;
  }

  .title {
    margin-bottom: 48px;
  }
}
