.card {
  position: relative;
}

.body {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.similarity {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: block;
  border-radius: var(--chakra-radii-base);
}

.similarity_red500 {
  background: #e53e3e;
}

.similarity_orange500 {
  background: #dd6b20;
}

.similarity_green500 {
  background: #38a169;
}

.text {
  font-weight: 500;
}

@media (prefers-color-scheme: light) {
  .similarity_red500 {
    background: #fc8181;
  }

  .similarity_orange500 {
    background: #f6ad55;
  }

  .similarity_green500 {
    background: #68d391;
  }
}
